*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eaeaf6;
    padding: 40px;
}

.titulo{
    text-align: center;
}

.tabela{
    color: #f5f5f5;
    margin-bottom: 40px;
}

.tabela .header, .tabela .item{
    padding: 10px;
}

.header-moda{
    background-color: #bb86fc;
}

.header-casa{
    background-color: #00c4b4;
}

.itens-moda, .itens-casa{ 
background-color: #424250;
}